*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}
.hero{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEJvd_UMB3l_cmN60AN-Sn63MbOc9r_WpzsA&s");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    width: auto;  
    height: 500px;   
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    padding: 6rem 2rem;
    display: flex;    
}

h1{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 3rem; padding: 1rem;}
h2{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 2rem;}

.text__subtitle{
    justify-content: center;
    align-content: center;
    margin: 2px 2px;
}

.hero{
    display: flex;
    justify-content: center;
}

.parrafo__1{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parrafo__2{
    display: flex;
    justify-content: center;    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text__subtitle{    
    display: flex;
    align-items:center;
}
.text__title{
    display: flex;
    align-items:center;
}

.buttons{
    display: flex;
    padding: 4rem 4rem;
    justify-content: center;
    
}
.btn1{
    background-color: red;    
    color: white;
    text-decoration: none;  
    align-content: center;
    padding: 1rem 2rem;
    margin-right: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    background-color:transparent;    
    color: white;
    text-decoration: none;  
    align-content: center;
    padding: 1rem 2rem;
    margin: 1;
    border-color: white;
    border-style: solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5rem;
    background-color: #fff;
    color: #333;
}
.banner{
    width:140%;
    height:1rem;
    background-color:white;
    color:gray;
    padding: 2rem;
    border: 2px  #ccc;
    text-align: left;
    margin:2rem;
    justify-content:flex-start;
}

.sub__title2{
    display: flex;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0;
    margin:0;

}
.sub__title3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 1rem;
    margin: 1px;
    padding: 1rem 0 0 0;
    display:flex ;
}
.parrafo__5{
    padding: 0 5rem 2rem 0;
}
.btn3{
    background-color: white;    
    color: red;
    border-color: red;
    align-items: center;
    text-decoration: none;  
    padding: 1rem;
    border-style: solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cards__item{

    width: 100%;  
    height: 100%;
    padding: 1rem;   
    background-image:url("Fondo.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items:center;   
    margin-top: -100px; 
    justify-content: right;



}

.image{
    width: 380px;
    height: 270px;
    margin-bottom: 5rem;
    display: block;

}
